<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MovieList</title>
    <link rel="stylesheet" href="home.component.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>

    <header>
        <svg width="80" height="120" viewBox="0 0 36 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M24 21V0H27.5V16.5H35.5V21H24Z" fill="#65C6FE"/>
            <path d="M0 0V21H4.5V5.5L9 21H14.5L19 5.5L18.5 21H24V0H16.5L12 15.5L7.5 0H0Z" fill="#D9D9D9"/>
        </svg>
        <nav style="padding-top: 2%;">
            <ul class="nav_links">
                <li><a href="home.component.html">Home</a></li>
                <li><a href="../user/user_list.html">Minha Lista</a></li>
                <li><div class="searchbox"><input type="text" placeholder="Encontre um filme..." class="input_searchbox">
                    <svg class="searchbox_icon" fill="#000000" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 50 50" width="50px" height="50px">
                        <path d="M 21 3 C 11.621094 3 4 10.621094 4 20 C 4 29.378906 11.621094 37 21 37 C 24.710938 37 28.140625 35.804688 30.9375 33.78125 
                        L 44.09375 46.90625 L 46.90625 44.09375 L 33.90625 31.0625 C 36.460938 28.085938 38 24.222656 38 20 C 38 10.621094 30.378906 3 21 3 Z M 21 
                        5 C 29.296875 5 36 11.703125 36 20 C 36 28.296875 29.296875 35 21 35 C 12.703125 35 6 28.296875 6 20 C 6 11.703125 12.703125 5 21 5 Z"/></svg>
                </div></li>
            </ul>
        </nav>
        <div class="pfp"></div>
    </header>
        <div class="titulo">Lista de Filmes</div>
        <div class="filmes">
            <div class="filme">
                <div class="filme-conteudo">
                    <h2 class="filme-titulo">Cavaleiro das Trevas</h2>
                    <p class="filme-sinopse">
                        Batman – O Cavaleiro das Trevas é a segunda produção da trilogia de Batman do diretor Christopher Nolan chegou aos cinemas em 2008
                    </p>
                    <a href="#" class="botao-salvar">
                        Salvar
                    </a>
                </div>
            </div>

            <div class="filme">
                <div class="filme-conteudo">
                    <h2 class="filme-titulo">Cavaleiro das Trevas</h2>
                    <p class="filme-sinopse">
                        Batman – O Cavaleiro das Trevas é a segunda produção da trilogia de Batman do diretor Christopher Nolan chegou aos cinemas em 2008
                    </p>
                    <a href="#" class="botao-salvar">
                        Salvar
                    </a>
                </div>
            </div>

            <div class="filme">
                <div class="filme-conteudo">
                    <h2 class="filme-titulo">Cavaleiro das Trevas</h2>
                    <p class="filme-sinopse">
                        Batman – O Cavaleiro das Trevas é a segunda produção da trilogia de Batman do diretor Christopher Nolan chegou aos cinemas em 2008
                    </p>
                    <a href="#" class="botao-salvar">
                        Salvar
                    </a>
                </div>
            </div>

            <div class="filme">
                <div class="filme-conteudo">
                    <h2 class="filme-titulo">Cavaleiro das Trevas</h2>
                    <p class="filme-sinopse">
                        Batman – O Cavaleiro das Trevas é a segunda produção da trilogia de Batman do diretor Christopher Nolan chegou aos cinemas em 2008
                    </p>
                    <a href="#" class="botao-salvar">
                        Salvar
                    </a>
                </div>
            </div>

            <div class="filme">
                <div class="filme-conteudo">
                    <h2 class="filme-titulo">Cavaleiro das Trevas</h2>
                    <p class="filme-sinopse">
                        Batman – O Cavaleiro das Trevas é a segunda produção da trilogia de Batman do diretor Christopher Nolan chegou aos cinemas em 2008
                    </p>
                    <a href="#" class="botao-salvar">
                        Salvar
                    </a>
                </div>
            </div>

            <div class="filme">
                <div class="filme-conteudo">
                    <h2 class="filme-titulo">Cavaleiro das Trevas</h2>
                    <p class="filme-sinopse">
                        Batman – O Cavaleiro das Trevas é a segunda produção da trilogia de Batman do diretor Christopher Nolan chegou aos cinemas em 2008
                    </p>
                    <a href="#" class="botao-salvar">
                        Salvar
                    </a>
                </div>
            </div>

            <div class="filme">
                <div class="filme-conteudo">
                    <h2 class="filme-titulo">Cavaleiro das Trevas</h2>
                    <p class="filme-sinopse">
                        Batman – O Cavaleiro das Trevas é a segunda produção da trilogia de Batman do diretor Christopher Nolan chegou aos cinemas em 2008
                    </p>
                    <a href="#" class="botao-salvar">
                        Salvar
                    </a>
                </div>
            </div>


        </div>
        

        
</body>
</html>