@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&family=Overpass:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;


}

.filmes{
    display: flex;
    padding:  0 0 0 4rem;
    flex-wrap: wrap;


}

.container{
    display: flex;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    background-color: #2B2D42;


}
.filme{
    color: white;
    background-image: url("https://upload.wikimedia.org/wikipedia/pt/d/d1/The_Dark_Knight.jpg");
    background-size: cover;
    padding: 8rem 0 0;
    max-width: 32ch;
    border-radius: 0.5rem;
    overflow: hidden;
    transition: transform 500ms ease;
    margin-right: 1rem;
    margin-bottom: 1.5rem;
    
    
}

.filme:hover .filme-titulo::after{
    transform: scaleX(1);
}


.filme:hover{
    transform: scale(1.05);
    
}



.filme-conteudo{
    --padding:1.5rem;
    padding: var(--padding);
    background: linear-gradient(
        hsl(0 0% 0% /0),
        hsl(0 0% 0% /0.7) 10%,
        hsl(0 0% 0% /1)
    );
    transform: translateY(75%);
    transition: transform 500ms ease;
}

.filme-conteudo > *{
    opacity: 0;
    transition: opacity 500ms ease;
}

.filme:hover .filme-conteudo > *{
    opacity: 1;
}

.filme:hover .filme-conteudo{
    transform: translateY(0);

}



.filme-sinopse{
    color: rgb(255 255 255/0.8);


}


.filme-titulo{
    position: relative;
    width: max-content;
    font-size: 20px;


}

.filme-titulo::after{
    content: "";
    position: absolute;
    height: 4px;
    width: calc(100% + var(--padding));
    background: rgb(32, 167, 55);
    left: calc(var(--padding)*-1);
    bottom: -2px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 900ms ease;


}

.botao-salvar{
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color:#3941a0;
    padding: 0.5em 1.25em;
    border-radius: 0.5rem;
}

.botao-salvar:hover,.botao-salvar:focus{
    background-color: rgb(43, 105, 61);
}




body{
    display: flex;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
}

li,a,button{
    color: #A1A5CE !important;
    font-family: "overpass";
    font-weight: 500;
    font-size: 18px;
    text-decoration: none !important;
}

header{
    background-color: #2B2D42;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 10px 10%;
    width: 100%;

}

.logo{
    cursor: pointer;
}


.movies{
    height: 100%;
    width: 100%;
    display: flex;

}


.titulo{
    /* Minha Lista */

    font-family: 'Overpass';
    font-style: normal;
    font-weight: 400;
    font-size: 2.1rem;
    line-height: 15px;
    padding-top: 2%;
    padding-left: 3.5%;
    padding-bottom: 1.5%;

    color: #647380;
    width: 100%;




}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0 20px;
    
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color: #fff !important;
}

.pfp{
    background-image: url("https://i.pinimg.com/236x/25/eb/3e/25eb3eabdf7eb0b7f608030786108aaa.jpg");

    width: 60px;
    height: 60px;

    background-size: cover;
    background-position: top center;

    border-radius: 10%;
    border: 0.2px solid white;

}






