@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&family=Roboto:wght@500;700&display=swap);


*{
    box-sizing: border-box;
    font-family: 'Roboto','sans-serif';
}

form{

    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    margin-top: 6%;
    gap: 15%;
}

.input{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: transparent;
    border: 0.5px solid #1e6086;
}

.input:active{
    color: transparent;
    font: 'Montserrat';
}

.input,select,textarea{
    color: rgb(182, 178, 178)

}


.label{
    font: 'Montserrat' 16px;
    color: white;

}

.loginContainer {

    margin: auto;
    display: flex;
    height: 550px;
    width: 530px;
    background-color: transparent;
    align-items: center;
    backdrop-filter: blur(6px);
    flex-direction: column;
    gap: 1px;
    border-radius: 5px;
}
.linha{
    /* Line 2 */

    width: 80%;
    height: 0px;
    
    border: 0.5px solid #555252;
    }



body{

    background: 
    linear-gradient(
        rgba(31, 35, 44, 0.85), 
        rgba(31, 35, 44, 0.85) 
      ),
    url("assets/Delorean.jpg");

}

.botao{

    width: 80%;
    height: 20%;
    margin: auto;
    margin-top: 0;
    border-radius: 1rem;
    border: transparent;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-size: 1.74rem;
    font-family: 'Roboto';
    font-weight:lighter;

}


.botao:hover{

   background-color: #2885BA;
   border: transparent;

}

.head{

    display: flex;
    justify-content: flex-end;
    align-items: center;
    font: 1em 'Roboto', sans-serif;
    padding: 1rem;
    gap: 1rem;


}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none !important;
 }

.loginButton{
    position: absolute;
    width: 138px;
    height: 17px;

    background: #2885BA;
    border-radius: 2px;

}


